@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 4fr 1fr;
  gap: 2px;
}

section {
  background-color: white;
  padding: 20px;
}

.A1__office {
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid > li {
  border-bottom: black 1px solid;
  padding: 10px;
  text-transform: uppercase;
}
.grid > li:first-child {
  border-top: black 1px solid;
  background-color: #eeeeee;
}

.A1__office > footer > ul {
  margin-bottom: 40px;
  letter-spacing: 1px;
}
.A1__office > footer > ul > li {
  margin-bottom: 5px;
}

.street > li:first-child {
  font-weight: bold;
}

h1 {
  width: 50%;
  font-size: 40px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  line-height: 1.2;
}

.service > h1 {
  width: 80%;
  color: rgba(0, 0, 0, 0.7);
}

p {
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  font-weight: 400;
}

h2 {
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  margin-bottom: 70px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
}

.small__gallery {
  grid-column: span 2;
}

.img {
  background-position: center center;
  background-size: cover;
}
.img:nth-child(3n + 1) {
  background-image: url(https://source.unsplash.com/featured/?chair);
}
.img:nth-child(3n + 2) {
  background-image: url(https://source.unsplash.com/featured/?sofa);
}
.img:nth-child(3n + 3) {
  background-image: url(https://source.unsplash.com/featured/?furniture);
}

.main__gallery {
  padding: 0;
  background-color: inherit;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2px;
}

.size__4x4 {
  grid-column: span 3;
  grid-row: span 2;
}

.size__2x1 {
  grid-column: span 2;
}

.size__1x2 {
  grid-row: span 2;
}

.small__gallery {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: inherit;
  gap: 2px;
}

.small__imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2px;
}
